
#lrk{

    background-color: turquoise;
}




.bre {


color: blue;

}




li{

background-color: white;
border-radius: 7px;
border-style: ridge;
border-width: 2px;
border-color: black;
width: 170px;

}

.bild{

float: right;

}

.index.css{

background-color: lightblue;

}

#krl{

background-color: yellow;

}


.dlib{

    border-radius: 100px;
}

#rlk{
    background-color: red;
}